<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="yunnex.com.testalipay">

	<application
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:supportsRtl="true"
		android:theme="@style/AppTheme">
		<activity android:name=".MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<!--
        android:process=":remote" 如果我们需要让一个服务在一个远端进程中运行
		（而不是标准的它所在的apk的进程中运行），
		我们可以在声明文件中这个服务的标签中通过android:process属性为其指定一个进程
        -->
		<service
			android:name=".AliPayService"
			android:enabled="true"
			android:exported="true">

			<!-- <intent-filter> -->
			<!-- <action android:name="com.alibaba.alipay" /> -->
			<!-- </intent-filter> -->
		</service>
		<service
			android:name=".remote.AlipayServiceRemote"
			android:enabled="true"
			android:exported="true">
			<intent-filter>
				<action android:name="com.alibaba.alipay" />
			</intent-filter>
		</service>
		<service
			android:name=".remote.BinderPoolService"
			android:enabled="true"
			android:exported="true">
			<intent-filter>
				<action android:name="com.alibaba.alipay.poolservice" />
			</intent-filter>
		</service>
	</application>

</manifest>